* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 auto;
  max-width: 1100px;
}

.container-fluid {
  padding: 0;
  width: 100%;
}

.navigation {
  background-color: #242526;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  color: white;
  font-weight: bold;
  font-family: Tahoma;
  position: sticky;
  width: 100%;
  padding: 15px;
}

.navigation ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  cursor: pointer;
  color: rgb(111, 198, 224);
}

.artist {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(15, 125, 158);
}

.artist .imgWrapper {
  position: relative;
  height: 90vh;
  width: fit-content;
  margin: 0 auto;
}

.artist .imgWrapper img {
  max-width: 486px;
}

.onimg {
  font-size: 30px;
  position: absolute;
  top: 200px;
  left: 100px;
  color: white;
  text-shadow: 1px 1px 5px orange;
}

.pngimg {
  max-width: 100%;
  height: auto;
  overflow: hidden;
}

h2 p {
  display: block;
}

.section2 {
  font-size: 40px;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: center;
  background-color: white;
  padding-top: 20px;
}

.sect3 {
  text-align: center;
  background-color: white;
  padding-top: 30px;
  font-size: 23px;
}

.myTunesImg {
  max-width: 100%;
}

button {
  background-color: red;
  color: white;
  padding: 10px;
  border-style: none;
  border: 0;
  border-radius: 2px;
}

button:hover {
  color: rgb(177, 165, 165);
}

.sect4 {
  background-color: #242526;
  padding-top: 20px;
  text-align: center;
  font-size: 20px;
  color: white;
  line-break: loose;
}

.planet {
  text-align: center;
  padding-bottom: 20px;
  padding-top: 30px;
  position: relative;
}

.bolden1 {
  font-size: 35px;
}

.bolden2 {
  font-size: 25px;
}

footer {
  background-color: #242526;
  text-align: center;
  color: white;
  padding-bottom: 10px;
  padding-top: 10px;
}

@media screen and (max-width: 1100px) {
  .container {
    max-width: 768px;
  }
  .onimg {
    display: none;
  }
  /* .myTunesImg {
    width: -webkit-fill-available;
  } */
}
@media screen and (max-width: 768px) {
  .container {
    padding: 0 15px;
  }
  .artist .imgWrapper img {
    width: 425px;
  }
}
@media screen and (max-width: 520px) {
  .container {
    padding: 0 15px;
  }
  .artist .imgWrapper {
    max-width: 100%;
  }
}
@media screen and (max-width: 486px) {
  .artist .imgWrapper {
    height: 80vh;
  }
  .artist .imgWrapper img {
    width: 100%;
  }
}
@media screen and (max-width: 320px) {
  .artist .imgWrapper {
    min-width: 320px;
  }
}
